/* Defaults */
@font-face {
  font-family: "helveticaneue";
  font-weight: normal;
  src: url("/public/fonts/helveticaneue.woff2") format("woff2");
  src: url("/public/fonts/helveticaneue.woff") format("woff");
}

:root {
  --font-family: "helveticaneue", -apple-system, system-ui, sans-serif;
  --font-family-monospace: Consolas, Menlo, Monaco, Andale Mono WT, Andale Mono,
    Lucida Console, Lucida Sans Typewriter, DejaVu Sans Mono,
    Bitstream Vera Sans Mono, Liberation Mono, Nimbus Mono L, Courier New,
    Courier, monospace;
}

/* Theme colors */
:root {
  --color-gray-20: #e0e0e0;
  --color-gray-50: #c0c0c0;
  --color-gray-90: rgb(0, 0, 0);

  --background-color: rgb(255, 255, 255);

  --text-color: var(--color-gray-90);
  --text-color-link: blue;
  --text-color-link-active: red;
  --text-color-link-visited: blue;

  --tag-blue: blue;
  --tag-green: green;
  --tag-red: red;

  --syntax-tab-size: 2;
}

html,
body {
  font-family: var(--font-family);
  font-weight: 400;
  color: var(--text-color);
  background-color: var(--background-color);
  font-size: 24px;
  letter-spacing: 0.02em;
}

html {
  display: flex;
  justify-content: center;
  margin: 1em;
}

body {
  width: 100%;
  padding: 0;
  max-width: 900px;
  margin-bottom: 2rem;
}

H1,
H2,
H3 {
  font-family: var(--font-family);
  color: var(--text-color);
  background-color: var(--background-color);
  font-size: 1em;
  letter-spacing: 0.02em;
  padding: 0;
  margin: 0;
  width: fit-content;
  text-decoration: underline;
  font-weight: 400;
}

H3 {
  font-weight: 400;
  text-decoration: none;
}
/* Mobile: Half font size */

html {
  overflow-y: scroll;
}

hr {
  border: none;
  height: 1px;
  color: black;
  background-color: black;
  margin: 2rem 8rem;
}
.visually-hidden {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  width: 1px;
}

p:last-child {
  margin-bottom: 0;
}

p {
  line-height: 1.5;
}

img {
  width: 100%;
  height: auto;
  border-radius: 0.25em;
  padding: 1rem 0;
}

figure {
  margin: 0;
  padding: 0;
}

a[href] {
  color: var(--text-color-link);
  text-decoration: none;
}

a[href]:visited {
  color: var(--text-color-link-visited);
}

a[href]:hover,
a[href]:active {
  color: var(--text-color-link-active);
}

main :first-child {
  margin-top: 0;
}

.links-nextprev {
  list-style: none;
  border-top: 1px solid black;
  padding: 1em 0;
}

table {
  margin: 1em 0;
}

table td,
table th {
  padding-right: 1em;
}

pre,
code {
  font-family: var(--font-family-monospace);
  font-size: 0.75rem !important;
}

pre:not([class*="language-"]) {
  margin: 0.5em 0;
  line-height: 1.375;
  -moz-tab-size: var(--syntax-tab-size);
  -o-tab-size: var(--syntax-tab-size);
  tab-size: var(--syntax-tab-size);
  -webkit-hyphens: none;
  -ms-hyphens: none;
  hyphens: none;
  direction: ltr;
  text-align: left;
  white-space: pre;
  word-spacing: normal;
  word-break: normal;
  font-size: 0.5em;
}

code {
  word-break: break-all;
  font-size: 0.5em;
}

/* Header */
header {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}

.home-link {
  /* 16px /16 */
  margin-bottom: 1em;
  font-weight: 400;
}

.home-link:link:not(:hover) {
  text-decoration: none;
}

/* Nav */
.nav {
  display: flex;
  padding: 0;
  gap: 1em;
  margin: 0;
  list-style: none;
}

.nav-item {
  margin-bottom: 1em;
  display: inline-block;
}

.nav-item a[href]:not(:hover) {
  text-decoration: none;
}

.nav a[href][aria-current="page"] {
  text-decoration: none;
}

/* Posts list */
.postlist {
  list-style: none;
  padding: 0;
}

.postlist-item {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-between;
  gap: 0em;
  flex-wrap: wrap;
}

.postlist-date,
.postlist-item:before {
  font-size: 0.8125em;
  /* 13px /16 */
  color: var(--color-gray-90);
}

.postlist-date {
  word-spacing: -0.5px;
}

.postlist-link {
  text-decoration: none;
}

.postlist-item-active .postlist-link {
  font-weight: bold;
}

.postlist-section {
  padding-top: 1em;
  border-bottom: 1px solid var(--color-gray-20);
}

.postlist-section:first-of-type {
  padding-top: 0em;
}

.postlist-tags {
  margin-top: -0.3em;
}

/* Tags */
.post-tag {
  font-family: var(--font-family-monospace);
  text-decoration: none;
  font-size: 0.7rem;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 0.5em 0.5em;
  border: solid var(--tag-blue) 0.1em;
  border-radius: 0.3em;
}

.section-tech {
  display: flex;
  gap: 1em;
}

.canvas-containter {
  -moz-box-flex: 1;
  flex-grow: 1;
  padding-bottom: var(--chakra-space-10);
}

.post-tag-typescript {
  border: solid var(--tag-blue) 0.1em;
  color: var(--tag-blue) !important;
}

.postlist-item > .post-tag {
  align-self: center;
}

/* Tags list */
.post-metadata {
  display: inline-flex;
  flex-wrap: wrap;
  list-style: none;
  padding: 0;
  margin: 0;
}

.post-metadata time {
  margin-right: 1em;
}

.image-column-container {
  border-top: 1px solid var(--color-gray-20);
  width: 100%;
}

.image-column {
  padding-top: 1em;
  width: 100%;
}

.image-column p {
  margin: 0;
  padding: 0;
}

.image-caption {
  font-size: 0.5em;
  margin-bottom: 1em;
}

/* Tablet: 2 columns */
@media (max-width: 991px) {
  .image-column-container {
    grid-template-columns: 1fr 1fr;
    padding-top: 1em;
  }

  .image-column {
    padding-top: 0em;
    width: 100%;
  }

  .image-caption {
    font-size: 0.5em;
    margin-bottom: 2em;
  }
}

/* Mobile: 1 column */
@media (max-width: 767px) {
  .image-column-container {
    grid-template-columns: 1fr;
  }

  .image-caption {
    font-size: 0.7em;
    margin-top: 0.2em;
    margin-bottom: 2em;
  }

  .image-column:first-child {
    padding-top: 1em;
    width: 100%;
  }

  html,
  body {
    font-size: 18px;
  }

  body {
    margin: 0rem 0;
    margin-bottom: 2rem;
  }
}

/* Direct Links / Markdown Headers */
.header-anchor {
  text-decoration: none;
  display: none;
  font-style: normal;
  font-size: 1em;
  margin-left: 0.1em;
}

a[href].header-anchor,
a[href].header-anchor:visited {
  color: transparent;
}

a[href].header-anchor:focus,
a[href].header-anchor:hover {
  text-decoration: underline;
}

a[href].header-anchor:focus,
:hover > a[href].header-anchor {
  color: #aaa;
}

h2 + .header-anchor {
  font-size: 1.5em;
}

.screensaver--container {
  position: fixed;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  top: 0;
  left: 0;
  z-index: 16;

  display: flex;
  width: 100%;
  height: 100%;
  background-color: var(--grey);

  visibility: hidden;
  opacity: 0;

  transition: opacity 0.2s ease-in-out;
  -webkit-transition: opacity 0.2s ease-in-out;
  -moz-transition: opacity 0.2s ease-in-out;
  -o-transition: opacity 0.2s ease-in-out;
}

.screensaver--clock {
  position: absolute;
  z-index: 17;

  font-size: 10vw;
  font-weight: 600;
  text-align: baseline;
  line-height: 20vw;
  color: var(--tag-blue);

  border: none;

  text-align: center;
  line-height: 0.8;
  cursor: pointer;

  opacity: 1;
  transition:
    opacity 0.1s ease-in-out,
    visibility 0.1s ease-in-out;
  -webkit-transition:
    opacity 0.1s ease-in-out,
    visibility 0.1s ease-in-out;
  -moz-transition:
    opacity 0.1s ease-in-out,
    visibility 0.1s ease-in-out;
  -o-transition:
    opacity 0.1s ease-in-out,
    visibility 0.1s ease-in-out;
}

.blur {
  filter: blur(0.1em);
  transition: filter 0.3s ease-in-out;
}

main header footer {
  transition: filter 0.1s ease-in-out;
}
.project-wrapper {
  position: relative;
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem 0rem;
}
.section {
  border-top: 1px solid var(--color-gray-90);
}
