---
layout: layouts/home.njk
---

<div class="about">
<div>
{% renderFile "./content/about.md" %}
</div>
<img style="height:100px; width: 100px; border-radius: 999px; filter: unset;" alt="" src="https://avatars.githubusercontent.com/u/60609268?v=4" width="100" height="100">
</div>

{% set postslist = collections.posts %}
{% include "postslist.njk" %}

{% set projectlist = collections.projects %}
{% include "gallerylist.njk" %}

<style>
.about {
 display: flex;
 flex-direction: row;
 justify-content: space-between;
}


@media (max-width: 767px) {
.about {
  flex-direction: column-reverse;
}
}
</style>
