---
layout: layouts/home.njk
---

<div class="about">
<div>
{% renderFile "./content/about.md" %}
</div>
<img style="height:224px; margin-top:0; padding:0; width:160px; border-radius: 0px ; filter: unset;" alt="Cemal Alexander Okten" src="{{ 'img/cemal-alexander-okten-portrait-rec.png' | url }}" >
</div>

{% set postslist = collections.posts %}
{% include "postslist.njk" %}

{% set projectlist = collections.projects %}
{% include "gallerylist.njk" %}

<style>
.about {
 display: flex;
 flex-direction: row;
 justify-content: space-between;
}


@media (max-width: 767px) {
.about {
  flex-direction: column-reverse;
}
}
</style>
