<div style="display: flex; flex-direction: flex-row; gap: 8px;margin-top: 2em;"><h3 style="margin-bottom: 0.5rem">Blog posts</h3>↓</div>
<section class="section">
{% for post in postslist | reverse %}
    <figure style="border-bottom: 1px solid var(--color-gray-90);">
      <div class="project-wrapper">
			<a  href="{{ post.url }}" >
				{% if post.data.title %}{{ post.data.title }}
				{% else %}
					<code>{{ post.url }}</code>
				{% endif %}
			</a>
			<time datetime="{{ post.date | htmlDateString }}">{{ post.date | readableDate("LLLL yyyy") }}</time>
			</div>
		</figure>
{% endfor %}
</section>
<style>
  @media screen and (max-width: 1000px) {
  .project-link-date {
    width: 100%;
    justify-content: space-between;
  }
  .project-title {
    width: 100%;
  }
  .project-wrapper{
    flex-direction: column;
		justify-content:start;
  align-items: start;
    gap: 1rem;
  }
  }
</style>
