<!doctype html>
<html lang="{{ metadata.language }}">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>{{ title or metadata.title }}</title>
		<meta name="description" content="{{ description or metadata.description }}">
		<script defer src="/js/screensaver.js"></script>
		<style>
			{% include "public/css/index.css" %}
			{% include "public/css/message-box.css" %}
			{% include "node_modules/prismjs/themes/prism-vs.css" %}
			{% include "public/css/prism-diff.css" %}
		</style>
	</head>
	<body>
		<main id="skip">
			{{ content | safe }}
		</main>
		<div class="screensaver--container">
			<span class="screensaver--clock">12:00PM</span>
		</div>
	</body>
</html>
