<!doctype html>
<html lang="{{ metadata.language }}">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>{{ title or metadata.title }}</title>
		<meta name="description" content="{{ description or metadata.description }}">
		<script defer src="/js/screensaver.js"></script>
		{#- Atom and JSON feeds included by default #}
		<link rel="alternate" href="/feed/feed.xml" type="application/atom+xml" title="{{ metadata.title }}">
		<link rel="alternate" href="/feed/feed.json" type="application/json" title="{{ metadata.title }}">

		<style>
			{% include "public/css/index.css" %}
			{% include "public/css/message-box.css" %}
			{% include "node_modules/prismjs/themes/prism-okaidia.css" %}
			{% include "public/css/prism-diff.css" %}
		</style>

	</head>
	<body>
		<header>
			{% if (title) %}
				<a href="/" class="home-link">{{ title }}</a>
			{% else %}
				<a href="/" class="home-link">Home</a>
			{% endif %}
			{#- Read more about `eleventy-navigation` at https://www.11ty.dev/docs/plugins/navigation/ #}
			<nav>
				<ul class="nav">
					{%- for entry in collections.all | eleventyNavigation %}
						<li class="nav-item">
							<a href="{{ entry.url }}"{% if entry.url == page.url %} aria-current="page"{% endif %}>{{ entry.title }}</a>
						</li>
					{%- endfor %}
				</ul>
			</nav>
		</header>

		<main id="skip">
			{{ content | safe }}
		</main>

		<footer></footer>

		<div class="screensaver--container">
			<span class="screensaver--clock">12:00PM</span>
		</div>
	</body>
</html>